* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E6E6FA;
  min-height: 100vh;
}

.header {
  background-color: #B0C4DE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.search-box {
  width: 345px;
  height: 40px;
  display: flex;
  border: 1px solid #E6E6FA;
  padding: 20px 0;
}

.search-input {
  font-size: 24;
  width: 290px;
  text-align: center;
  outline: none;
  float: left;
  padding: 5px 10px;
}

.search-btn {
  width: 50px;
  height: 99%;
  border: 1px solid #E6E6FA;
  background-color: #E6E6FA;
  padding: 5px;
}

.search-btn:hover {
  border: 1px solid #333;
}

.card-box {
  width: 100%;
  margin: 20px auto 20px auto;
  padding: 0px 0px 0px 180px ;
  box-shadow: 0px 0px 3px 0px gray;
  flex-wrap: wrap;
  display: flex;
}
.card {
  width: 20%;
  margin: 20px 20px 20px 20px;
  
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 3px;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contents {
  font-size: 14px;
  margin-bottom: 10px;
}

.rate {
  font-size: 12px;
  color: #777;
}